[mysqld]
# =====================================
# 基础
# =====================================
default-storage-engine = InnoDB

skip-name-resolve = 1

# 2G 内存千万不要开 500
max_connections = 100
thread_cache_size = 32

table_open_cache = 1024
table_definition_cache = 1024
open_files_limit = 8192

max_allowed_packet = 32M


# =====================================
# InnoDB 内存
# =====================================

# 2GB 机器从 1GB 开始
innodb_buffer_pool_size = 1G

# 小内存机器只用一个实例
innodb_buffer_pool_instances = 1

innodb_file_per_table = 1


# =====================================
# Redo
# =====================================

# 总 redo = 512MB
innodb_log_file_size = 256M
innodb_log_files_in_group = 2

innodb_log_buffer_size = 32M

# 游戏资产数据建议保证持久性
innodb_flush_log_at_trx_commit = 1

innodb_doublewrite = 1

# =====================================
# 事务
# =====================================

transaction-isolation = READ-COMMITTED


# =====================================
# Query Cache
# =====================================

query_cache_type = 0
query_cache_size = 0


# =====================================
# 临时表
# =====================================

tmp_table_size = 16M
max_heap_table_size = 16M


# =====================================
# 每连接内存
# 不要设置很大
# =====================================

sort_buffer_size = 256K
join_buffer_size = 256K
read_buffer_size = 128K
read_rnd_buffer_size = 256K
